p {
    text-align: center;
    font-size: 32px;
    font-family: Candara, Oswald;
}   

img {
   
    margin: 0 auto;
    width: 25%;
}

/* #bt1 {
    position: fixed;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
} */

/* #bt2 {
    position: absolute;
    left: 39%;
    top: 68%;
} */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn-group button {
    margin-top: 30%;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */ 
}


